div.image-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-color: #fff;
    z-index: 999999;
    text-align: center;
}

.logo {
    position: absolute;
    width: 280px;
    height: 58px;
    left: 32px;
    top: 32px;
}

.laptop {
    position: absolute;
    width: 432px;
    height: 288px;
    left: calc(50% - 432px/2);
    top: 186px;
}

h1 {
    font-family: 'Roboto Condensed';
    font-size: 56px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: center;
}

h2 {

    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 24px;

    align-items: center;
    text-align: center;
    letter-spacing: 0.005em;

    color: rgba(34, 46, 70, 0.61);

}

.text {
    position: absolute;
    width: 383px;
    height: 24px;
    left: calc(50% - 383px/2 - 0.5px);
    top: 530px;
}

body {
    font-family: Roboto Condensed;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: center;
}

a:link,
a:hover,
a:visited {
    font-family: Roboto Condensed;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: center;

    font-family: Roboto Condensed;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: center;

}

.footer {
    position: absolute;
    width: 234px;
    height: 24px;
    left: calc(50% - 234px/2 - 1px);
    top: 710px;
}